*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: linear-gradient(90deg, pink,rgb(55, 55, 86));
}
nav{
  background-color: rgb(32, 9, 32);
  color: white;
  height:65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  
}
nav ul{
  list-style: none;
}
.gameContainer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  position: relative;
}
.line{
  background-color: rgb(79, 13, 79);
  width: 0;
  height: 3px;
  position: absolute;
  left: -34px;
  transition: width 0.5s ease-in-out;
}
.box{
  border: 2px solid black;
  font-size: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover{
 background-color: rgb(164, 121, 207);
}
.gameInfo{
  padding: 0 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
.imgbox img{
  width: 0;
  transition: width 1s ease-in-out;
}
.gameInfo h1{
  font-size: 2.5rem;
}
.info{
  font-size: 22px;
}
.text-button{
  margin: 10px;
}
#reset{
  margin: 0 23px;
  padding: 1px 18px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  background-color: rgb(97, 83, 112);
  color: black;
}
.br-0{
  border-right: 0;
}
.bl-0{
  border-left: 0;
}
.bt-0{
  border-top: 0;
}
.bb-0{
  border-bottom: 0;
}

@media screen and (max-width: 950px) {
  .gameContainer{
    flex-wrap: wrap;
  }
  .gameInfo{
    margin-top: 34px;
  }
  .gameInfo h1{
    font-size: 1.5rem;
  }
  .container{
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(3,20vw);
  }
}
